.wish-header p {
  font-family: "Satisfy", cursive;
  font-size: 25px;
  color: green;
}
.wish-list {
  height: 100%;
  margin-top: 6px;
  right: 15px;
}
.wish-img {
  width: 30%;
  height: auto;
  border-radius: 50%;
}
.wish-item {
  background-color: lightgreen;
}
